<div>
	<div data-dojo-attach-point='rcsPumpDamageDAP'></div>
	<div data-dojo-attach-point='afsPumpDamageDAP'></div>
	<div data-dojo-attach-point='csPumpDamageDAP'></div>
	<div data-dojo-attach-point='hpiPumpDamageDAP'></div>
	<div data-dojo-attach-point='auxPumpDamageDAP'></div>
	
	<div data-dojo-attach-point='hpiValveDamageDAP'></div>
	<div data-dojo-attach-point='auxValveDamageDAP'></div>
	<div data-dojo-attach-point='pressurizerValveDamageDAP'></div>
	
	<div data-dojo-attach-point='rodsDamageDAP'></div>
</div>