<div>
	<div data-dojo-attach-point='rcsPumpDamageDAP'></div>
	<div data-dojo-attach-point='afsPumpDamageDAP'></div>
	<div data-dojo-attach-point='csPumpDamageDAP'></div>
	<div data-dojo-attach-point='hpiTankPumpDamageDAP'></div>
	<div data-dojo-attach-point='auxTankPumpDamageDAP'></div>
	
	<div data-dojo-attach-point='hpiTankValveDamageDAP'></div>
	<div data-dojo-attach-point='auxTankValveDamageDAP'></div>
	<div data-dojo-attach-point='pressurizerTankValveDamageDAP'></div>
	
	<div data-dojo-attach-point='rodsDamageDAP'></div>
</div>