<div>
	<div data-dojo-attach-point='mwh' title='Net Energy' class='mwh statsbarelements'></div>
	<div data-dojo-attach-point='simtime' title='Simulation Time' class= "simtime statsbarelements"></div>
	<div data-dojo-attach-point='rcsPressure'  title='Reactor Coolant System Pressure' class= "rcspressure statsbarelements"></div>
	<div data-dojo-attach-point='boilingTemp' title= 'Boiling Temperature' class= "boilingtemp statsbarelements"></div>
	<div data-dojo-attach-point='workers' title= 'Workers Left' class= 'workers statsbarelements'></div>
	<div data-dojo-attach-point='risk' title= 'Risk Level' class= 'risk'></div>
	<div class='shadestop'></div>
</div>