<div>
	<div data-dojo-attach-point='powerOutput' title= 'Generator Power Output'></div>
	<div data-dojo-attach-point='reactorTemp' title= 'Reactor Temp' class= 'reactortemp temperatureelements'></div>
	<div data-dojo-attach-point='rcsColdLegTemp' title= 'RCS Cold Leg Temp' class= 'rcscoldlegtemp temperatureelements'></div>
	<div data-dojo-attach-point='rcsHotLegTemp' title= 'RCS Hot Leg Temp' class= 'rcshotlegtemp temperatureelements'></div>
	<div data-dojo-attach-point='csColdLegTemp' title= 'Circulating System Cold Leg Temperature' class= 'circulatingsystemcoldlegtemp temperatureelements'></div>
	<div data-dojo-attach-point='csHotLegTemp' title= 'Circulating System Hot Leg Temperature' class= 'circulatingsystemhotlegtemp temperatureelements'></div>
	<div data-dojo-attach-point='feedwaterColdLegTemp' title= 'Auxiliary Feedwater Cold Leg Temperature' class= 'feedwatercoldlegtemp temperatureelements'></div>
	<div data-dojo-attach-point='feedwaterHotLegTemp' title= 'Auxiliary Feedwater Hot Leg Temperature' class= 'feedwaterhotlegtemp temperatureelements'></div>
	<div data-dojo-attach-point='generalPowerOutput' title= 'General Power Output (MWH)' class= 'generalpoweroutput temperatureelements'></div>
</div>