
.ui{
	background-image : url(../images/background.png);
	width : 1000px;
	height : 723px;
	background-repeat : no-repeat;
	background-size : 1000px 723px;
}
.z0{
	z-index: 0;
}
.z1{
	z-index: 1;
}
.z2{
	z-index: 2;
}
.downbutton {
	height: 20px;
	width: 40px;
	background-image: url(../images/elements/downBtn.png);
	background-size: 30px 15px;
	background-repeat: no-repeat;
}
.upbutton {
	height: 20px;
	width: 40px;
	background-image: url(../images/elements/upBtn.png);
	background-size: 30px 15px;
	background-repeat: no-repeat;
}
.statsbarelements {
	background-color: green;
	width: 100px;
	height: 20px;
}
.temperatureelements {/*not including stats bar temperatures*/
	background-color: purple;
	width: 100px;
	height: 30px;
}
.degreeelement {
	background-image: url(images/degree.png);
	background-size: 10px 10px
}

/*power*/
.generalpoweroutput {
	background-color: red;
	width: 100px;
	height: 30px;
	position: relative;
	top: 173px;
	left: 715px
}

/*rods*/
.rods {
	width:66px;
	height:53px;
	position: relative;
	left: 94px;
	top: 182px;
	background-image: url(../images/elements/rods.png);
	background-size: 66px 53px;
	background-repeat: no-repeat;
}

.roddown {
	position: relative;
	top: 263px;
	left: 20px;
}
.rodup {
	position: relative;
	top: 243px;
	left: 20px;
}

/*gauges*/
.gaugesize {
	width: 30px;
	height: 40px;
}
.gaugebottomleft{
	position: relative;
	top: 500px;
	left: 235px;
}
.gaugebottomleftdown {
	position: relative;
	top: 575px;
	left: 185px;
}
.gaugebottomleftup {
	position: relative;
	top: 555px;
	left: 185px;
}
.gaugemiddlebottom {
	position: relative;
	top: 500px;
	left: 624px;
}
.gaugemiddlebottomdown {
	position: relative;
	top: 575px;
	left: 670px;
}
.gaugemiddlebottomup {
	position: relative;
	top: 555px;
	left: 670px;
}
.gaugetopleft {
	position: relative;
	top: 395px;
	left: 317px;
}
.gaugetopleftdown {
	position: relative;
	top: 460px;
	left: 275px;
}
.gaugetopleftup {
	position: relative;
	top: 440px;
	left: 275px;
}
.gaugemiddletop {
	position: relative;
	top: 395px;
	left: 629px;
}
.gaugemiddletopdown {
	position: relative;
	top: 375px;
	left: 580px;
}
.gaugemiddletopup {
	position: relative;
	top: 355px;
	left: 580px;
}
.gaugetopright {
	position: relative;
	top: 395px;
	left: 711px;
}
.gaugetoprightdown {
	position: relative;
	top: 375px;
	left: 755px;
}
.gaugetoprightup {
	position: relative;
	top: 355px;
	left: 755px;
}

/*stats bar*/

.mwh {
	position: relative;
	top: 700px;
	left: 775px;
}
.simtime {
	position: relative;
	top: 655px;
	left: 490px;
}
.rcspressure {
	position: relative;
	top: 655px;
	left: 120px;
}
.boilingtemp {
	position: relative;
	top: 700px;
	left: 100px;
}
.workers {
	position: relative;
	top: 700px;
	left: 490px;
}
.risk {/*different properties than the rest of the stats bar*/
	background-color: green;
	width: 50px;
	height: 40px;
	position: relative;
	top: 625px;
	left: 950px;
}

/*temperature*/

.reactortemp {
	position: relative;
	top: 300px;
	left: 75px;
}
.rcscoldlegtemp {
	position: relative;
	top: 375px;
	left: 75px;
}
.rcshotlegtemp {
	position: relative;
	top: 125px;
	left: 250px;
}
.feedwatercoldlegtemp {
	position: relative;
	top: 393px;
	left: 492px;
}
.feedwaterhotlegtemp {
	position: relative;
	top: 125px;
	left: 500px;
}
.circulatingsystemcoldlegtemp {
	position: relative;
	top: 453px;
	left: 830px;
}
.circulatingsystemhotlegtemp {
	position: relative;
	top: 250px;
	left: 715px;
}