.ui {
	background-image: url(../images/background.png);
	width: 1000px;
	height: 723px;
	background-repeat: no-repeat;
	background-size: 1000px 723px;
}
.z0 {
	z-index: 0;
}
.z1 {
	z-index: 1;
}
.z2 {
	z-index: 2;
}
.downbutton {
	height: 20px;
	width: 40px;
	background-image: url(images/elements/downBtn.png);
	background-size: 30px 15px;
	background-repeat: no-repeat;
}
.upbutton {
	height: 20px;
	width: 40px;
	background-image: url(images/elements/upBtn.png);
	background-size: 30px 15px;
	background-repeat: no-repeat;
}
.statsbarelements {
	background-color: green;
	width: 100px;
	height: 20px;
}
.temperatureelements { /*not including any temps on the stats bar*/
	background-color: purple;
	width: 100px;
	height: 30px;
}
.degree {
	background-image: url(images/degree.png);
	background-size: 10px 10px;
}

/*power*/
.generalpoweroutput {
	background-color: red;
	width: 100px;
	height: 30px;
	position: fixed;
	top: 173px;
	left: 715px
}

/*rods*/
.rods {
	left: 94px;
	top: 182px;
	background-image: url(images/elements/rods.png);
	background-size: 66px 53px;
}
}
.roddownbutton {
	position: fixed;
	top: 263px;
	left: 20px;
}
.rodUpButton {
	position: fixed;
	top: 243px;
	left: 20px;
}

/*gauges*/
.gaugedivsize {
	width: 30px;
	height: 40px;
}
.gaugebottomleft {
	position: fixed;
	top: 500px;
	left: 235px;
}
.gaugebottomleftdownbutton {
	position: fixed;
	top: 575px;
	left: 185px;
}
.gaugebottomleftupbutton {
	position: fixed;
	top: 555px;
	left: 185px;
}
.gaugemiddlebottomdiv {
	position: fixed;
	top: 500px;
	left: 624px;
}
.gaugemiddlebottomdownbutton {
	position: fixed;
	top: 575px;
	left: 670px;
}
.gaugemiddlebottomupbutton {
	position: fixed;
	top: 555px;
	left: 670px;
}
.gaugetopleftdiv {
	position: fixed;
	top: 395px;
	left: 317px;
}
.gaugetopleftdownbutton {
	position: fixed;
	top: 460px;
	left: 275px;
}
.gaugetopleftupbutton {
	position: fixed;
	top: 440px;
	left: 275px;
}
.gaugemiddletopdiv {
	position: fixed;
	top: 395px;
	left: 629px;
}
.gaugemiddletopdownbutton {
	position: fixed;
	top: 375px;
	left: 580px;
}
.gaugemiddletopupbutton {
	position: fixed;
	top: 355px;
	left: 580px;
}
.gaugetoprightdiv {
	position: fixed;
	top: 395px;
	left: 711px;
}
.gaugetoprightdownbutton {
	position: fixed;
	top: 375px;
	left: 755px;
}
.gaugetoprightupbutton {
	position: fixed;
	top: 355px;
	left: 755px;
}

/*stats bar*/
.mwh {
	position: fixed;
	top: 700px;
	left: 775px;
}
.simtime {
	position: fixed;
	top: 655px;
	left: 490px;
}
.rcspressure {
	position: fixed;
	top: 655px;
	left: 120px;
}
.boilingtemp {
	position: fixed;
	top: 700px;
	left: 100px;
}
.workers {
	position: fixed;
	top: 700px;
	left: 490px;
}
.risk {/*This one has different properties than the rest*/
	background-color: green;
	width: 50px;
	height: 40px;
	position: fixed;
	top: 625px;
	left: 950px;
}

/*temperature*/
.reactortemp {
	position: fixed;
	top: 300px;
	left: 75px;
}
.rcscoldlegtemp {
	position: fixed;
	top: 375px;
	left: 75px;
}
.rcshotlegtemp {
	position: fixed;
	top: 125px;
	left: 250px;
}
.feedwatercoldLegtemp {
	position: fixed;
	top: 393px;
	left: 492px;
}
#feedwaterhotlegtemp {
	position: fixed;
	top: 125px;
	left: 500px;
}
#circulatingsystemcoldlegtemp {
	position: fixed;
	top: 453px;
	left: 830px;
}
#circulatingsystemhotlegtemp {
	position: fixed;
	top: 250px;
	left: 715px;
}

