.html{
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.banner{
	height: 150px;
	position: relative;	
}
.ui {
	background-color: black;
	height: 690px;
}
.scores{
	color: #99FF33;
	position: relative;
	height: 50px;
	width: 300px;
	left: 20px;
}
.scorestitle{
	color: #FF9966;
	position: relative;
	height: 50px;
	width: 300px;
	left: 10px;
	font-size: 30px;
}
.bodyblack {
	background-color: black;
}
.bodywhite {
	background-color: white;
}
.bgblack {
	width: 1500px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}
.bgorange {
	background-image: url(../images/mainSample.png);
	height: 300px;
}
.bgorange {
	background-image: url(../images/statsSample.png);
}
.scrambackground {
	-webkit-box-shadow: 0px 0px 30px 2px #99FF33;
	background-image: url(../images/main.png);
	width: 1000px;
	height: 615px;
	background-repeat: no-repeat;
	background-size: 1000px 615px;
	background-position: center;
}
.scrambackgroundposition {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.shadestop{
	background-image: url(../images/mainSample.png);
	background-size: 1000px 20px;
	width: 1000px;
	height: 25px;
	position: relative;
	top: -165px;
}
.twitterfeed {
	position: relative;
	left: 1500px;
	top: -722px;
	width: 300px;
	z-index: 4;
}
.toolbar {/*
	border-width : 1px;
	border-color: gray;
	border-style: solid;*/
	background-size: 300px 300px;
	position: relative;
	left: 90px;
	top: -1445px;
	width: 300px;
	height: 720px;
	z-index: 4;
}
.statsbarbackground {
	background-image: url(../images/statsBar.png);
	width: 1000px;
	height: 108px;
	position: relative;
	background-repeat: no-repeat;
	background-size: 1000px 108px;
	margin-left: auto;
	margin-right: auto;
}
.statsbarbackgroundshadow{
	-webkit-box-shadow: 0px 0px 30px 2px #99FF33;
	z-index: -1;
}
.z0 {
	z-index: 0;
}
.z1 {
	z-index: 1;
}
.z2 {
	z-index: 2;
}
.z3 {
	z-index: 3;
}
.z4 {
	z-index: 4;
}
.downbutton {
	height: 20px;
	width: 40px;
	background-image: url(../images/elements/downBtn.png);
	background-size: 30px 15px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.upbutton {
	height: 20px;
	width: 40px;
	background-image: url(../images/elements/upBtn.png);
	background-size: 30px 15px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.statsbarelements {
	/*background-color: green;*/
	width: 100px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	color: #FF9966;
}
.criticalstatsbarelements {
	/*background-color: green;*/
	width: 100px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	text-shadow: 1px 1px 0px black;
	color: red;
}
.temperatureelements {/*not including stats bar temperatures*/
	/*background-color: purple;*/
	width: 100px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
	color: #99FF33;
}
.criticaltemperatureelements {/*not including stats bar temperatures*/
	/*background-color: purple;*/
	width: 100px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
	color: red;
	text-shadow: 1px 1px 0px black;
}
.degreeelement {
	background-image: url(images/degree.png);
	background-size: 10px 10px
}

/*power*/
.generalpoweroutput {
	/*background-color: red;*/
	width: 100px;
	height: 30px;
	position: relative;
	top: -45px;
	left: 705px;
	color: black;
}

/*rods*/
.rods {
	width: 66px;
	height: 53px;
	position: relative;
	left: 86px;
	top: -105px; /*rods at pos9: -105px, rods at pos0; -53px*/
	background-image: url(../images/elements/rods.png);
	background-size: 66px 53px;
	background-repeat: no-repeat;
}

.roddown {
	position: relative;
	top: 2px;
	left: 10px;
}
.rodup {
	position: relative;
	top: -3px;
	left: 10px;
}

/*pumps*/
.pump0 {
	background-image: url(../images/gaugeValues/0.png);
	background-size: 25px 35px;
}
.pump1 {
	background-image: url(../images/gaugeValues/1.png);
	background-size: 17px 35px;
}
.pump2 {
	background-image: url(../images/gaugeValues/2.png);
	background-size: 20px 35px;
}
.pump3 {
	background-image: url(../images/gaugeValues/3.png);
	background-size: 20px 35px;
}
.pump4 {
	background-image: url(../images/gaugeValues/4.png);
	background-size: 25px 35px;
}
.pumpsize {
	width: 30px;
	height: 40px;
	background-repeat: no-repeat;
}
.hpitankpump {
	position: relative;
	top: 38px;
	left: 228px;
}
.hpitankpumpdown {
	position: relative;
	top: 140px;
	left: 185px;
}
.hpitankpumpup {
	position: relative;
	top: 135px;
	left: 185px;
}
.auxtankpump {
	position: relative;
	top: -40px;
	left: 618px;
}
.auxtankpumpdown {
	position: relative;
	top: 60px;
	left: 670px;
}
.auxtankpumpup {
	position: relative;
	top: 55px;
	left: 670px;
}
.rcspump {
	position: relative;
	top: 15px;
	left: 310px;
}
.rcspumpdown {
	position: relative;
	top: 105px;
	left: 265px;
}
.rcspumpup {
	position: relative;
	top: 100px;
	left: 265px;
}
.feedwaterpump {
	position: relative;
	top: -223px;
	left: 625px;
}
.feedwaterpumpdown {
	position: relative;
	top: -230px;
	left: 580px;
}
.feedwaterpumpup {
	position: relative;
	top: -235px;
	left: 580px;
}
.cspump {
	position: relative;
	top: -303px;
	left: 705px;
}
.cspumpdown {
	position: relative;
	top: -310px;
	left: 745px;
}
.cspumpup {
	position: relative;
	top: -315px;
	left: 745px;
}
.brokenpump {
	background-image: url(../images/brokenIndication.png);
	background-size: 25px 35px;
	cursor: pointer;
}

/*stats bar*/

.mwh {
	position: relative;
	top: 77px;
	left: 775px;
}
.simtime {
	position: relative;
	top: 9px;
	left: 490px;
}
.rcspressure {
	position: relative;
	top: -10px;
	left: 120px;
}
.boilingtemp {
	position: relative;
	top: 15px;
	left: 100px;
}
.workers {
	position: relative;
	top: -5px;
	left: 490px;
}
.risk {/*different properties than the rest of the stats bar*/
	/*background-color: green;*/
	width: 50px;
	height: 40px;
	position: relative;
	top: -98px;
	left: 935px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
	color: #FF9966;
}

/*temperature*/

.reactortemp {
	position: relative;
	top: 300px;
	left: 70px;
}
.rcscoldlegtemp {
	position: relative;
	top: 330px;
	left: 70px;
}
.rcshotlegtemp {
	position: relative;
	top: 70px;
	left: 220px;
}
.feedwatercoldlegtemp {
	position: relative;
	top: 235px;
	left: 490px;
}
.feedwaterhotlegtemp {
	position: relative;
	top: -50px;
	left: 490px;
}
.circulatingsystemcoldlegtemp {
	position: relative;
	top: 365px;
	left: 820px;
}
.circulatingsystemhotlegtemp {
	position: relative;
	top: 140px;
	left: 705px;
}

/*valve*/
.valvetrue {/* open valve*/
	background-image: url(../images/elements/Water.png);
	background-size: 5px 40px;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.valvefalse {/*closed valve*/
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.pressurizervalvetrue{/* open valve*/
	background-image: url(../images/elements/yellowSample.png);
	background-size: 5px 40px;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.pressurizervalvefalse{/* closed valve*/
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.hpivalve {
	position: relative;
	top: -304px;
	left: 213px;
	cursor: pointer;
}
.afsvalve {
	position: relative;
	top: -345px;
	left: 501px;
	cursor: pointer;
}
.pressurizervalve {
	position: relative;
	top: -530px;
	left: 382px;
	cursor: pointer;
}
.brokenvalve {
	background-image: url(../images/brokenIndication.png);
	background-size: 25px 35px;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.hpivalvebroken {
	position: relative;
	top: -304px;
	left: 203px;
	cursor: pointer;
}
.afsvalvebroken {
	position: relative;
	top: -345px;
	left: 491px;
	cursor: pointer;
}
.pressurizervalvebroken {
	position: relative;
	top: -530px;
	left: 372px;
	cursor: pointer;
}

/*moving water*/
.dot {
	background-image: url(../images/dot.png);
	background-size: 5px 5px;
	height: 5px;
	width: 5px;
}
.rcsdot {
	position: relative;
	left: 187px;
	top: -676px;
}
.afsdot {
	position: relative;
	left: 605px;
	top: -432px;
}
.csdot {
	position: relative;
	left: 688px;
	top: -480px;
}
.hpidot {
	position: relative;
	left: 314px;
	top: -345px;
}
.auxdot {
	position: relative;
	left: 700px;
	top: -340px;
}

/*Tanks*/
.tanklevel7 {
	background-size: 89px 60px;
}
.tanklevel6 {
	background-size: 89px 50px;
}
.tanklevel5 {
	background-size: 89px 40px;
}
.tanklevel4 {
	background-size: 89px 30px;
}
.tanklevel3 {
	background-size: 89px 20px;
}
.tanklevel2 {
	background-size: 89px 15px;
}
.tanklevel1 {
	background-size: 89px 10px;
}
.tanklevel0 {
	background-size: 89px 0px;
}
.pressurizertanklevel0 {
	background-size: 82px 0px;
}
.pressurizertanklevel1 {
	background-size: 82px 10px;
}
.pressurizertanklevel2 {
	background-size: 82px 20px;
}
.pressurizertanklevel3 {
	background-size: 82px 30px;
}
.pressurizertanklevel4 {
	background-size: 82px 40px;
}
.pressurizertanklevel5 {
	background-size: 82px 45px;
}
.pressurizertanklevel6 {
	background-size: 82px 50px;
}
.pressurizertanklevel7 {
	background-size: 82px 60px;
}

.pressurizertank {
	position: relative;
	left: 318px;
	top: -635px;
	width: 82px;
	height: 60px;
	background-image: url(../images/elements/Water.png);
	background-position: bottom;
	background-repeat: no-repeat;
}
.hpitank {
	position: relative;
	left: 318px;
	top: -405px;
	width: 89px;
	height: 60px;
	background-image: url(../images/elements/Water.png);
	background-position: bottom;
	background-repeat: no-repeat;
}
.auxtank {
	position: relative;
	left: 705px;
	top: -525px;
	width: 89px;
	height: 60px;
	background-image: url(../images/elements/Water.png);
	background-position: bottom;
	background-repeat: no-repeat;
}

/*splash screen*/

.splash {
	background-image: url(../images/splash/Altamira.png);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: 900px 550px;
	background-position: center;
	cursor: pointer;
}
.hidden {
	display: none;
}

/*repair*/
.repairbutton {
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	position: relative;
	top: -440px;
	left: 702px;
}
.repairstatefalse {
	background-image: url(../images/wrench.png);
	/*cursor: auto;*/
	cursor: pointer;
}
.repairstatetrue {
	background-image: url(../images/wrenchClicked.png);
	/*cursor: url(../images/wrench_mouse.png), wait;*/
	cursor: pointer;
}

/*User*/
.login {
	background-color: black;
}
.user {
	position: relative;
	top: 360px;
}
.pass {
	position: relative;
	top: 419px;
}
.loginbutton {
	position: relative;
	top: 470px;
	background-image: url(../images/userPages/loginBtn.png);
	height: 37px;
	width: 100px;
	background-size: 100px 37px;
	border-style: solid;
	cursor: pointer;
	border-width: 2px;
}
.loginbackground {
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/userPages/loginBackground.png);
	background-size: 1120px 900px;
	width: 1120px;
	height: 900px;
}

/*earthquake*/
.prequake {
	width: 1000px;
	height: 615px;
	position: relative;
	top: 500px;
}
.quake {
	background-image: url(../images/main.png);
	width: 1000px;
	height: 615px;
	background-repeat: no-repeat;
	background-size: 1000px 615px;
	position: relative;
	top: 500px;
}

/*faces*/
.quakefaceclosed {
	background-image: url(../images/events/earthquakeC.png);
	background-size: 1000px 723px;
	background-repeat: no-repeat;
	height: 723px;
	width: 1000px;
	position: relative;
	top: -1098px;
	left: 0px;
}
.quakefaceopen {
	background-image: url(../images/events/earthquakeO.png);
	background-size: 1000px 723px;
	background-repeat: no-repeat;
	height: 723px;
	width: 1000px;
	position: relative;
	top: -1098px;
	left: 0px;
	
}
.meltdownfaceclosed {
	background-image: url(../images/events/meltdownC.png);
	background-size: 1000px 723px;
	background-repeat: no-repeat;
	height: 723px;
	width: 1000px;
	position: relative;
	top: -1098px;
	left: 0px;
}
.meltdownfaceopen {
	background-image: url(../images/events/meltdownO.png);
	background-size: 1000px 723px;
	background-repeat: no-repeat;
	height: 723px;
	width: 1000px;
	position: relative;
	top: -1098px;
	left: 0px;
}
.explosionfaceclosed {
	background-image: url(../images/events/pexplodeC.png);
	background-size: 1000px 723px;
	background-repeat: no-repeat;
	height: 723px;
	width: 1000px;
	position: relative;
	top: -1098px;
	left: 0px;
}
.explosionfaceopen {
	background-image: url(../images/events/pexplodeO.png);
	background-size: 1000px 723px;
	background-repeat: no-repeat;
	height: 723px;
	width: 1000px;
	position: relative;
	top: -1095px;
	left: 0px;
}
.steamvoidingfaceclosed {
	background-image: url(../images/events/steamvoidC.png);
	background-size: 200px 100px;
	background-repeat: no-repeat;
	height: 100px;
	width: 200px;
	position: relative;
	top: -1095px;
	left: 400px;
}
.steamvoidingfaceopen {
	background-image: url(../images/events/steamvoidO.png);
	background-size: 200px 100px;
	background-repeat: no-repeat;
	height: 100px;
	width: 200px;
	position: relative;
	top: -1098px;
	left: 400px;
}
.noface {
	display: none;	
}

/*damage*/
.damage {
	background-image: url(../images/brokenindication.png);
	background-repeat: no-repeat;
	opacity: .5;
	position: relative;
	z-index: 4;
	cursor: pointer;
}
.rcsdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 100px;
	top: -720px;
	left: 250px;
}
.afsdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	top: -865px;
	left: 555px;
}
.csdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	top: -985px;
	left: 674px;
}
.hpitankdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	top: -960px;
	left: 175px;
}
.auxtankdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	top: -1080px;
	left: 585px;
}
.hpivalvedamage {
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	top: -1253px;
	left: 190px;
}
.auxvalvedamage {
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	top: -1263px;
	left: 480px;
}
.pressurizervalvedamage {
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	top: -1540px;
	left: 360px;
}
.roddamage {
	width: 66px;
	height: 53px;
	position: relative;
	left: 86px;
	top: -105px; /*rods at pos9: -105px, rods at pos0; -53px*/
	background-image: url(../images/rodDamage.png);
	background-size: 66px 53px;
	background-repeat: no-repeat;cursor: pointer;
	z-index: 4;
}



.norcsdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 100px;
	top: -720px;
	left: 250px;
}
.noafsdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	top: -865px;
	left: 555px;
}
.nocsdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	top: -985px;
	left: 674px;
}
.nohpitankdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	top: -960px;
	left: 175px;
}
.noauxtankdamage {
	background-size: 120px 120px;
	width: 120px;
	height: 120px;
	top: -1080px;
	left: 585px;
}
.nohpivalvedamage {
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	top: -1253px;
	left: 190px;
}
.noauxvalvedamage {
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	top: -1263px;
	left: 480px;
}
.nopressurizervalvedamage {
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	top: -1540px;
	left: 360px;
}
.noroddamage {
	background-size: 175px 150px;
	width: 175px;
	height: 150px;
	top: -1685px;
	left: 10px;
}

/*Flag*/
.flagsubmission{
	position: relative;
	top: 2px;
	left: 10px;
	background-image: url(../images/submitBtn.png);
	height: 20px;
	width: 50px;
	background-size: 50px 18px;
	border-style: solid;
	cursor: pointer;
	border-width: 2px;
}

.flag{
	position: relative;
	left: 10px;
	width: 250px;
}
