.ui {
	background-color: black;
	height: 690px;
}
.bgblack {
	width: 1500px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 75px;
}
.bgorange {
	background-image: url(../images/mainSample.png);
	height: 300px;
}
.bgorange {
	background-image: url(../images/statsSample.png);
}
.scrambackground {
	background-image: url(../images/main.png);
	width: 1000px;
	height: 615px;
	background-repeat: no-repeat;
	background-size: 1000px 615px;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
}
.twitterfeed {
	width: 300px;
	height: 500px;
	background-color: yellow;
	float: left;
	margin-top: 100px;
	margin-right: 100px;
}
.statsbarbackground {
	background-image: url(../images/statsBar.png);
	width: 1000px;
	height: 108px;
	position: relative;
	background-repeat: no-repeat;
	background-size: 1000px 108px;
	margin-left: auto;
	margin-right: auto;
}
.z0 {
	z-index: 0;
}
.z1 {
	z-index: 1;
}
.z2 {
	z-index: 2;
}
.z3 {
	z-index: 3;
}
.downbutton {
	height: 20px;
	width: 40px;
	background-image: url(../images/elements/downBtn.png);
	background-size: 30px 15px;
	background-repeat: no-repeat;
}
.upbutton {
	height: 20px;
	width: 40px;
	background-image: url(../images/elements/upBtn.png);
	background-size: 30px 15px;
	background-repeat: no-repeat;
}
.statsbarelements {
	background-color: green;
	width: 100px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	color: yellow;
}
.temperatureelements {/*not including stats bar temperatures*/
	background-color: purple;
	width: 100px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
	color: yellow;
}
.degreeelement {
	background-image: url(images/degree.png);
	background-size: 10px 10px
}

/*power*/
.generalpoweroutput {
	background-color: red;
	width: 100px;
	height: 30px;
	position: relative;
	top: -875px;
	left: 855px
}

/*rods*/
.rods {
	width: 66px;
	height: 53px;
	position: relative;
	left: 86px;
	top: -105px; /*rods at pos9: -105px, rods at pos0; -53px*/
	background-image: url(../images/elements/rods.png);
	background-size: 66px 53px;
	background-repeat: no-repeat;
}


.roddown {
	position: relative;
	top: 2px;
	left: 10px;
}
.rodup {
	position: relative;
	top: -3px;
	left: 10px;
}

/*pumps*/
.pump0 {
	background-image: url(../images/gaugeValues/0.png);
	background-size: 25px 35px;
}
.pump1 {
	background-image: url(../images/gaugeValues/1.png);
	background-size: 17px 35px;
}
.pump2 {
	background-image: url(../images/gaugeValues/2.png);
	background-size: 20px 35px;
}
.pump3 {
	background-image: url(../images/gaugeValues/3.png);
	background-size: 20px 35px;
}
.pump4 {
	background-image: url(../images/gaugeValues/4.png);
	background-size: 25px 35px;
}
.pumpsize {
	width: 30px;
	height: 40px;
	background-repeat: no-repeat;
}
.hpitankpump {
	position: relative;
	top: 38px;
	left: 228px;
}
.hpitankpumpdown {
	position: relative;
	top: 140px;
	left: 185px;
}
.hpitankpumpup {
	position: relative;
	top: 135px;
	left: 185px;
}
.auxtankpump {
	position: relative;
	top: -40px;
	left: 618px;
}
.auxtankpumpdown {
	position: relative;
	top: 60px;
	left: 670px;
}
.auxtankpumpup {
	position: relative;
	top: 55px;
	left: 670px;
}
.rcspump {
	position: relative;
	top: 15px;
	left: 310px;
}
.rcspumpdown {
	position: relative;
	top: 105px;
	left: 265px;
}
.rcspumpup {
	position: relative;
	top: 100px;
	left: 265px;
}
.feedwaterpump {
	position: relative;
	top: -223px;
	left: 625px;
}
.feedwaterpumpdown {
	position: relative;
	top: -230px;
	left: 580px;
}
.feedwaterpumpup {
	position: relative;
	top: -235px;
	left: 580px;
}
.cspump {
	position: relative;
	top: -303px;
	left: 705px;
}
.cspumpdown {
	position: relative;
	top: -310px;
	left: 745px;
}
.cspumpup {
	position: relative;
	top: -315px;
	left: 745px;
}

/*stats bar*/

.mwh {
	position: relative;
	top: 77px;
	left: 775px;
}
.simtime {
	position: relative;
	top: 9px;
	left: 490px;
}
.rcspressure {
	position: relative;
	top: -10px;
	left: 120px;
}
.boilingtemp {
	position: relative;
	top: 15px;
	left: 100px;
}
.workers {
	position: relative;
	top: -5px;
	left: 490px;
}
.risk {/*different properties than the rest of the stats bar*/
	background-color: green;
	width: 50px;
	height: 40px;
	position: relative;
	top: -98px;
	left: 935px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
}

/*temperature*/

.reactortemp {
	position: relative;
	top: -520px;
	left: 218px;
}
.rcscoldlegtemp {
	position: relative;
	top: -485px;
	left: 218px;
}
.rcshotlegtemp {
	position: relative;
	top: -760px;
	left: 365px;
}
.feedwatercoldlegtemp {
	position: relative;
	top: -595px;
	left: 638px;
}
.feedwaterhotlegtemp {
	position: relative;
	top: -880px;
	left: 640px;
}
.circulatingsystemcoldlegtemp {
	position: relative;
	top: -450px;
	left: 970px;
}
.circulatingsystemhotlegtemp {
	position: relative;
	top: -700px;
	left: 835px;
}

/*valve*/
.valveopen {
	background-color: yellow;
	#background-image: url(../images/elements/Water.png);
	#background-size: 5px 5px;
	width: 15px;
	height: 15px;
	position: relative;
	top: 600px;
	left: 800px;
}
.valveclosed {
	background-color: yellow;
	width: 15px;
	height: 15px;
	position: relative;
	top: 600px;
	left: 800px;
}
/*water levels*/
.water {
	background-color: yellow;
	background-size: 100px 25px;
	height: 25px;
	width: 25px;
}

.splash{
		background-image: url(../images/splash/Altamira.png);
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-size: 900px 550px;
		background-position: center;
}
.hidden{
	display: none;	
}